                @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    text-decoration: none;
                }
                
                .cabecalho {
                    background-color: #4A4E69;
                    width: 100%;
                }
                
                .cabecalho-imgs {
                    height: 110px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 0px;
                    padding-right: 200px;
                }
                
                .posicionamento-cabecalho {
                    position: relative;
                }
                
                .menu-txt {
                    background-color: #9A8C98;
                    width: 100%;
                    height: 35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                }
                
                .menu-txt a {
                    color: white;
                    font-family: 'Aldrich', sans-serif;
                    font-size: 25px;
                    padding-left: 50px;
                    padding-right: 50px;
                    text-decoration: none;
                }
                
                .banner {
                    height: 600px;
                    width: 100%;
                    background-image: url(../img/banner3.jpg);
                    background-repeat: no-repeat;
                    position: relative;
                    background-size: cover;
                }
                
                .banner .text-box {
                    font-family: 'Aldrich', sans-serif;
                    height: 250px;
                    width: 400px;
                    background-color: #22223B;
                    opacity: 0.8;
                    position: relative;
                    color: white;
                    top: 150px;
                    left: 80px;
                    text-align: center;
                    border-radius: 10px;
                }
                
                .banner .text-box h1 {
                    padding-top: 50px;
                    font-size: 40px;
                    margin-bottom: 15px;
                    opacity: 1;
                }
                
                .banner .text-box p {
                    font-size: 35px;
                    opacity: 1;
                }
                
                .logo-empresas {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 0px;
                    padding-right: 200px;
                    height: 80px;
                    background-color: #22223B;
                }
                
                .logo-empresas .logo {
                    height: 50px;
                    padding-left: 250px;
                    padding-right: 200px;
                }
                
                .logo-empresas .logo-ps {
                    height: 75px;
                }
                
                .servicos-container {
                    padding: 30px;
                    background-color: #F2E9E4;
                    font-family: 'Aldrich', sans-serif;
                }
                
                .servico-caixa {
                    width: 100%;
                    position: relative;
                    clear: both;
                    height: 150px;
                    margin-bottom: 30px;
                }
                
                .servicos-container h2 {
                    text-align: center;
                }
                
                .servico-caixa:last {
                    margin-bottom: 0;
                }
                
                .servico-title {
                    width: 20%;
                    height: 150px;
                    background-color: #C9ADA7;
                    /*Coloca as caixas de serviços do lado esquerdo, ao lado do texto*/
                    float: left;
                    text-align: center;
                    line-height: 150px;
                    padding: 20px;
                    /*evita que o texto saia da box*/
                    box-sizing: border-box;
                }
                
                .servico-title h2 {
                    padding-top: 40px;
                    color: #22223B;
                    font-size: 18px;
                    line-height: 24px;
                    font-size: 20px;
                }
                
                .servico-descricao {
                    width: 80%;
                    float: left;
                    padding: 30px;
                    box-sizing: border-box;
                }
                
                .servico-descricao h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                    font-weight: bold;
                }
                
                .servico-descricao p {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                /*Seçao Novidades*/
                
                .novidades-container {
                    background-color: #F2E9E4;
                    font-family: 'Aldrich', sans-serif;
                }
                
                .novidades-container h2 {
                    color: #22223B;
                    text-align: center;
                }
                
                .novidades-background {
                    padding-top: 20px;
                    height: 400px;
                }
                
                .novidades-box {
                    padding-top: 30px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    background-color: #C9ADA7;
                    width: 80%;
                    height: 80%;
                    left: 10%;
                    top: 30px;
                    box-sizing: border-box;
                }
                
                .item-box {
                    position: relative;
                    width: 250px;
                    height: 250px;
                    background-color: #4A4E69;
                    float: right;
                    margin-left: 40px;
                    align-items: center;
                }
                
                .novidades-container .novidades-background .galeria-img {
                    padding-top: 30px;
                    padding-left: 200px;
                    padding-right: 200px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    background-color: #C9ADA7;
                    width: 80%;
                    height: 80%;
                    left: 10%;
                    top: 30px;
                    box-sizing: border-box;
                }
                
                .item-box p {
                    padding-top: 5px;
                    text-align: center;
                    color: #F2E9E4;
                }
                
                .item-comprar {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 30px;
                    background-color: yellow;
                    text-align: center;
                }
                
                .item-comprar a {
                    font-size: 24px;
                }
                /*footer*/
                
                .form-container {
                    width: 100%;
                    height: 375px;
                    position: absolute;
                }
                
                .redes-sociais {
                    padding-left: 100px;
                    width: 100%;
                    height: 375px;
                    text-align: center;
                    color: #C9ADA7;
                }
                
                .redes-sociais .redes-img {
                    height: 50px;
                    padding-left: 20px;
                    padding-top: 20px;
                }
                
                .form-background {
                    padding-top: 20px;
                    width: 100%;
                    height: 100%;
                    background-color: #4A4E69;
                    opacity: 1;
                    color: white;
                    font-family: 'Aldrich', sans-serif;
                }
                
                .form-container form {
                    position: relative;
                    top: 30px;
                    left: 30px;
                    height: 300px;
                    color: #C9ADA7;
                    padding-bottom: 20px;
                    float: left;
                }
                
                .form-container input,
                .form-container textarea {
                    width: 400px;
                    display: block;
                    border: none;
                    padding: 10px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    border-radius: 0px;
                    background-color: transparent;
                }
                
                .form-container textarea {
                    height: 120px;
                    color: #C9ADA7;
                }
                
                .form-container input::placeholder,
                .form-container textarea::placeholder {
                    font-size: 16px;
                    color: #C9ADA7;
                }
                
                .form-container .submit {
                    width: 100px;
                    background-color: #22223B;
                    color: rgb(255, 255, 255);
                    border: 1px solid transparent;
                    position: relative;
                    float: right;
                    cursor: pointer;
                    transition: .5s;
                }
                
                .form-container .submit:hover {
                    /* Efeito que muda a cor do botão ao passar o mouse */
                    background-color: #fff;
                    color: #222;
                    border: 1px solid #222;
                }
                
                @media screen and (max-width:1200px) {
                    .menu-txt .txt {
                        font-size: 18px;
                    }
                }
                
                @media screen and (min-width:769px) {
                    .menu-txt .barras {
                        font-size: 30px;
                        color: white;
                        display: none;
                    }
                }
                
                @media screen and (max-width:768px) {
                    .menu-txt .txt {
                        display: none;
                        flex-direction: column;
                        height: 250px;
                        width: 250px;
                        position: absolute;
                        top: 0;
                        right: 60px;
                        background-color: #22223B;
                    }
                    .menu-txt .txt a {
                        text-align: center;
                        padding: 15px;
                    }
                    .logo-empresas {
                        padding-left: 90px;
                    }
                    .logo-empresas .logo {
                        padding-left: 70px;
                        padding-right: 40px;
                    }
                    .servico-title h2 {
                        font-size: 90%;
                        padding-left: 10px;
                        padding-top: 0px;
                        line-height: 13px;
                    }
                    .servico-descricao h3 {
                        font-size: 80%;
                    }
                    .servico-descricao p {
                        font-size: 80%;
                    }
                    .servico-title {
                        height: 50%;
                    }
                    .novidades-background .novidades-box .desktop {
                        display: none;
                    }
                    .novidades-background .galeria-img .desktop {
                        display: none;
                    }
                }